name: CI

env:
  JAVA_OPTS: "-Dfile.encoding=UTF-8 -Xms1024M -Xmx3072M -Xss4M"

on:
  push:
    branches: '**'
    tags: [ "v[0-9]+*" ]
  pull_request:
    # avoid duplicate checks (push & PR) further in the review process
    types: [opened]

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-22.04 # https://github.com/actions/runner-images/blob/main/images/ubuntu/Ubuntu2204-Readme.md
    strategy:
      fail-fast: false
      matrix:
        scala: [ 2.13.16 ]
        java-version: [ 17, 21 ]
        command: [ udash-jvm/test, udash-js/test, guide-selenium/test ]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: ${{ matrix.java-version }}
          cache: sbt
      - uses: actions/setup-node@v4
        with:
          cache: npm
      - name: Install npm dependencies
        run: npm install
      - name: Run tests
        run: sbt ++${{ matrix.scala }} ${{ matrix.command }}

  publish:
    name: Publish to Sonatype
    # only run on tag push
    if: github.event_name == 'push' && (startsWith(github.ref, 'refs/tags/v'))
    needs: [ test ]
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          cache: sbt
      - name: Get version
        id: get_tag_name
        run: echo "VERSION=${GITHUB_REF#refs/tags/v}" >> $GITHUB_OUTPUT
      - name: Publish artifacts
        env:
          PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
          PGP_SECRET: ${{ secrets.PGP_SECRET }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
        run: sbt ci-release
